
.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.manager-panel {
    border: 1px solid black;
    min-width: 700px;
    min-height: 700px;
}

.border {
    border: 1px solid black !important;
}

.border-bottom {
    border-bottom: 1px solid black !important;
}